
/*===LOGO FLECHE BACK PRESENT SUR TOUTES LES PAGES DE MENU===*/

.back-logo{
    position: relative
}

.logo-menu1{
       @include centrer;
       padding: 20px;
       
   img{
       height: 30px;
   }
}
   
.back { /* boutton retour */
   position: absolute;
   bottom: 0;
   top: 0;
   left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   font-weight: bold; 
   
   a{
       
       text-decoration: none;
       color: black;
       font-weight: bolder;

   &:hover{ // Au survol de la flèche
           color: $coleur-primaire;
       }
   }
}