
/*====PRESNETATION===*/


.presentation{
    width: 100%;
    @include centrer;
    flex-direction: column;
    background-color: #f2f2f2;

    h1{
        text-align: center;
        font-family: 'Roboto';
        margin: 15px 0;
    }

    .container-btn1{
        padding: 15px 0;
    }   
}
@media screen and( max-width:767px) {
    .presentation{
        width: 100%;
        p{
           text-align: center;
           margin-left: 20px;
        }

    }

    .fonctionnement{

        h2{
           margin-left: -160px;
           padding: 20px 0;
           
           //margin-bottom: 20px;
        }
    }

}


/*.presentation-fonctionnement{


/*@include media-tabalette; =====VERSION TABLETTE=====

}*/
    

.fonctionnement{
    
    font-weight: bold;
    
    
    .fonctionnement-titre{
        font-family: 'Roboto';
        font-size: 20px;
        padding: 20px 0;
        text-align: center;
        
    }
}

.fonctionnement .icones-fonctionnements {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap:wrap;

    & .icone-fonctionnement{
        position: relative;
        cursor: pointer;
        @include centrer;
        height: 70px;
        width: 320px;
        box-shadow: #d7d7d7 0 0 12px;
        background: #f2f2f2;
        border-radius: 15px;
        margin:  15px 25px;
        transition: .3s;

        &:hover{
            background: #9256dc59;
            box-shadow: #333 0 0 10px;
            transform: scale(1.02); 
            
        }  
    }
}

.icones-fonctionnements .fonction{
    margin-left: 5px;
    padding: 10px 30px;
}
.icone-fonctionnement .points{
        margin-right: 2px; 
          
    }
    .icone-fonctionnement .store{
        color: $coleur-primaire;
    }


.choisissez::after{
    font-weight: normal;
    content: "1";
    position: absolute;
    @include centrer;
    left: -10px;
    top: 25px;
    background: $coleur-primaire;
    color: white;
    height: 22px;
    width: 22px;
    border-radius: 30px;
}
.composez::after{
    font-weight: normal;
    content: "2";
    position: absolute;
    @include centrer;
    left: -10px;
    top: 25px;
    bottom: 0;
    background: $coleur-primaire;
    color: white;
    height: 22px;
    width: 22px;
    border-radius: 30px;
}
.degustez::after{
    font-weight: normal;
    content: "3";
    position: absolute;
    @include centrer;
    left: -10px;
    top: 25px;
    bottom: 0;
    background: $coleur-primaire;
    color: white;
    height: 22px;
    width: 22px;
    border-radius: 30px;
}