// Couleurs principales //

$coleur-primaire: #9356DC;
$coleur-secondaire:#FF79DA;
$coleur-tertiaire:#99E2D0;
$coleur-degrade:linear-gradient(to bottom, #ff79da, #9356dc);//boutton
$coleur-heart: linear-gradient(to top, #ff79da, #9356dc);
//$coleur-degrade-heart: -webkit-linear-gradient (($coleur-primaire), var($coleur-secondaire));


// couleurs utilitaires //
$coleur-3e-foncee: #169777;
$coleur-barre-grise:#dfdedebb ;
$coleur-fond:#f2f2f2;
